.App {
  --bg-color: #282c34;
  background-color: var(--bg-color);
  color: white;
  min-height: 100vh;
}

.address {
  padding: 10px;

  button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    margin: 4px 10px;
  }
}

.alert {
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  font-size: 20px;
  width: 50vw;

  &.error {
    border-color: red;
    background-color: lightcoral;
  }
}

.output {
  interpolate-size: allow-keywords;
  width: 64vw;

  li {
    transition: all 0.5s;
    &:has(> ul) {
      list-style: disclosure-open;
    }

    &:has(> ul.collapsed) {
      list-style-type: disclosure-closed;
    }
  }

  ul {
    text-align: initial;
    font-size: 26px;
    transition: height 0.25s;

    ul {
      font-size: max(90%, 16px);
    }

    &.collapsed {
      height: 0;
      overflow: hidden;
    }
  }

  li > span:has(+ ul) {
    cursor: pointer;
  }

  :is(.capability, .attribute, .child) > span {
    font-family: monospace;
    background-color: lightgrey;
    color: var(--bg-color);
  }

  .description > span {
    color: yellowgreen;
  }

  .deprecated > span {
    color: lightcoral;
  }
}

#filter {
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  padding: 10px;
  max-width: 50%;
  background-color: black;

  input, select {
    margin-right: 10px;
  }

  fieldset {
    column-count: 2;

    label {
      display: block;
    }
  }
}